*.log
*.tgz
*.bak
*.copy
barn/
charts/
conf/
etc/
fitnesse/
fitnesse.bak/
hps_log/
jenkins/
jenkins_build/
jenkins_home/
log-pre-nginx-init/
flask/trinity.py.stderr
log/not_used
log/*.log.*
log/*.tar
